.env
electron_app/node_modules
tradingyourmodel.egg-info
node_modules
tradingyourmodel/__pycache__
tradingyourmodel/dataflows/__pycache__
tradingyourmodel/dataflows/data_cache
tradingyourmodel/llm/clients/__pycache__
.vscode/launch.json
.vscode/tasks.json
